adcp/data/flows.json
[
    {
        "id": "e88e1cb6c8102f2b",
        "type": "tab",
        "label": "Init",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b92370b7f0220dde",
        "type": "tab",
        "label": "Device to Kafka",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "356785b888196c3a",
        "type": "Kafka Broker",
        "name": "kafka gconode05",
        "hosts": [
            {
                "host": "gconode05",
                "port": 9092
            }
        ],
        "hostsEnvVar": "",
        "connectTimeout": "10000",
        "requestTimeout": "30000",
        "autoConnect": "true",
        "idleConnection": "5",
        "reconnectOnIdle": "true",
        "maxAsyncRequests": "10",
        "checkInterval": "10",
        "selfSign": true,
        "usetls": false,
        "useCredentials": false
    },
    {
        "id": "67b072133449f6ec",
        "type": "inject",
        "z": "e88e1cb6c8102f2b",
        "name": "Startup",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 160,
        "y": 80,
        "wires": [
            [
                "16dd0959f4b92f97"
            ]
        ]
    },
    {
        "id": "8eebc4c080946eb4",
        "type": "csv",
        "z": "e88e1cb6c8102f2b",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "all",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": false,
        "include_null_values": true,
        "x": 390,
        "y": 200,
        "wires": [
            [
                "ca3aa223ab080176"
            ]
        ]
    },
    {
        "id": "9552f418c6fda3f1",
        "type": "debug",
        "z": "e88e1cb6c8102f2b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 160,
        "wires": []
    },
    {
        "id": "371f718e5b5369a1",
        "type": "switch",
        "z": "e88e1cb6c8102f2b",
        "name": "Only current config",
        "property": "payload.end_date",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 630,
        "y": 280,
        "wires": [
            [
                "9552f418c6fda3f1",
                "a2d2d53a72638da5"
            ]
        ]
    },
    {
        "id": "a2d2d53a72638da5",
        "type": "change",
        "z": "e88e1cb6c8102f2b",
        "name": "Set parameters",
        "rules": [
            {
                "t": "set",
                "p": "DEVICE_SERVER",
                "pt": "global",
                "to": "payload.moxa_server",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "set",
                "p": "DEVICE_PORT",
                "pt": "global",
                "to": "payload.moxa_port",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "set",
                "p": "DEVICE_ID",
                "pt": "global",
                "to": "payload.id",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "16dd0959f4b92f97",
        "type": "file in",
        "z": "e88e1cb6c8102f2b",
        "name": "Reading config file",
        "filename": "/data/device_config.csv",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 390,
        "y": 140,
        "wires": [
            [
                "8eebc4c080946eb4"
            ]
        ]
    },
    {
        "id": "ca3aa223ab080176",
        "type": "switch",
        "z": "e88e1cb6c8102f2b",
        "name": "Filtering on device type",
        "property": "payload.reference",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "DEVICE_REFERENCE",
                "vt": "env"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 610,
        "y": 220,
        "wires": [
            [
                "371f718e5b5369a1"
            ]
        ]
    },
    {
        "id": "ca7ca01031e8f69c",
        "type": "inject",
        "z": "b92370b7f0220dde",
        "name": "",
        "props": [
            {
                "p": "action",
                "v": "connect",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "x": 110,
        "y": 80,
        "wires": [
            [
                "aefd7cc8bc74980b"
            ]
        ]
    },
    {
        "id": "aefd7cc8bc74980b",
        "type": "tcp-client",
        "z": "b92370b7f0220dde",
        "action": "action",
        "actionType": "msg",
        "host": "DEVICE_SERVER",
        "hostType": "global",
        "port": "DEVICE_PORT",
        "portType": "global",
        "datamode": "stream",
        "datatype": "utf8",
        "newline": "\\n",
        "write": "payload",
        "writeType": "msg",
        "maxRetries": "5",
        "retryDelay": "3000",
        "indefiniteRetries": false,
        "topic": "",
        "name": "",
        "debug": "warning",
        "x": 320,
        "y": 120,
        "wires": [
            [
                "935072c465b6fabf"
            ]
        ]
    },
    {
        "id": "5637d88b98647751",
        "type": "Kafka Producer",
        "z": "b92370b7f0220dde",
        "name": "kafka-spiddal",
        "broker": "356785b888196c3a",
        "topic": "${KAFKA_TOPIC}",
        "topicDeadletter": "deadletter",
        "topicSlash2dot": false,
        "requireAcks": 1,
        "ackTimeoutMs": 100,
        "partitionerType": 0,
        "key": "",
        "partition": 0,
        "attributes": 0,
        "connectionType": "Producer",
        "convertFromJson": false,
        "nodeQSize": 1000,
        "compressionType": "none",
        "x": 810,
        "y": 240,
        "wires": []
    },
    {
        "id": "935072c465b6fabf",
        "type": "function",
        "z": "b92370b7f0220dde",
        "name": "",
        "func": "let device_id = global.get(\"DEVICE_ID\");\nif(device_id){\n    let device = device_id;\n    let parts = [new Date().toISOString(),device,(\"\"+msg.payload).trim()];\n    msg.payload = parts.join(\"|\");\n    flow.set('latest',{payload:msg.payload,time:new Date().getTime()});\n    return msg;\n}\nelse{\n    node.error(\"Device configuration not set\",msg);\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 200,
        "wires": [
            [
                "5637d88b98647751",
                "02c8f609a4c6a4cf"
            ]
        ]
    },
    {
        "id": "02c8f609a4c6a4cf",
        "type": "debug",
        "z": "b92370b7f0220dde",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 140,
        "wires": []
    }
]