pco2/data/flows.json
[
    {
        "id": "77c7c30f.0fd61c",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c7885260.5b223",
        "type": "Kafka Broker",
        "z": "",
        "name": "kafka gconode05",
        "hosts": [
            {
                "host": "gconode05",
                "port": 9092
            }
        ],
        "hostsEnvVar": "",
        "connectTimeout": "10000",
        "requestTimeout": "30000",
        "autoConnect": "true",
        "idleConnection": "5",
        "reconnectOnIdle": "true",
        "maxAsyncRequests": "10",
        "checkInterval": "10",
        "selfSign": true,
        "usetls": false
    },
    {
        "id": "1d91630e.c141dd",
        "type": "http proxy",
        "z": "",
        "name": "spiddal http proxy",
        "url": "http://172.16.255.226:3128",
        "noproxy": []
    },
    {
        "id": "80019f2d.9dd3f",
        "type": "tcp in",
        "z": "77c7c30f.0fd61c",
        "name": "pco2 moxa",
        "server": "client",
        "host": "${DEVICE_SERVER}",
        "port": "${DEVICE_PORT}",
        "datamode": "stream",
        "datatype": "utf8",
        "newline": "\\n",
        "topic": "spiddal-pco2",
        "base64": false,
        "x": 250,
        "y": 120,
        "wires": [
            [
                "addf79e2.df5538"
            ]
        ]
    },
    {
        "id": "c319188c.7a1c88",
        "type": "debug",
        "z": "77c7c30f.0fd61c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 870,
        "y": 140,
        "wires": []
    },
    {
        "id": "addf79e2.df5538",
        "type": "function",
        "z": "77c7c30f.0fd61c",
        "name": "Add device and timestamp",
        "func": "let device = env.get('DEVICE_ID') || \"DEVICE-ID-NOT-SET-PCO2-SPIDDAL\";\n\nvar parts = [new Date().toISOString(),device,(\"\"+msg.payload).trim()];\nmsg.payload = parts.join(\"|\");\nflow.set('latest',{payload:msg.payload,time:new Date().getTime()});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 570,
        "y": 220,
        "wires": [
            [
                "7818e38c.25462c"
            ]
        ]
    },
    {
        "id": "7818e38c.25462c",
        "type": "Kafka Producer",
        "z": "77c7c30f.0fd61c",
        "name": "kafka:spiddal-pco2",
        "broker": "c7885260.5b223",
        "topic": "spiddal-pco2",
        "requireAcks": 1,
        "ackTimeoutMs": 100,
        "partitionerType": 0,
        "key": "",
        "partition": 0,
        "attributes": 0,
        "connectionType": "Producer",
        "x": 890,
        "y": 260,
        "wires": []
    },
    {
        "id": "b1026f4e.34638",
        "type": "trigger",
        "z": "77c7c30f.0fd61c",
        "op1": "",
        "op2": "0",
        "op1type": "nul",
        "op2type": "str",
        "duration": "5",
        "extend": true,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "name": "Trigger if no data for 5 minutes",
        "x": 490,
        "y": 420,
        "wires": [
            [
                "c89d53a6.6c49c"
            ]
        ]
    },
    {
        "id": "c89d53a6.6c49c",
        "type": "function",
        "z": "77c7c30f.0fd61c",
        "name": "Restart node-red",
        "func": "console.log('exiting as no data in 5 minutes');\nglobal.get(\"process\").exit();\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1430,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "62d2148c.a71b5c",
        "type": "Kafka Consumer",
        "z": "77c7c30f.0fd61c",
        "name": "kafka:spiddal-pco2",
        "broker": "c7885260.5b223",
        "topics": [
            {
                "topic": "spiddal-pco2",
                "offset": 0,
                "partition": 0
            }
        ],
        "groupId": "gconode06-spiddal-pco2-process-monitor",
        "autoCommit": "true",
        "autoCommitIntervalMs": 5000,
        "fetchMaxWaitMs": 100,
        "fetchMinBytes": 1,
        "fetchMaxBytes": 1048576,
        "fromOffset": 0,
        "encoding": "utf8",
        "keyEncoding": "utf8",
        "connectionType": "Consumer",
        "x": 200,
        "y": 300,
        "wires": [
            [
                "b1026f4e.34638"
            ]
        ]
    },
    {
        "id": "b1b9ccc3.2059a",
        "type": "inject",
        "z": "77c7c30f.0fd61c",
        "name": "Inject on starup",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 200,
        "y": 520,
        "wires": [
            [
                "b1026f4e.34638",
                "7fb53cf2.36d2e4"
            ]
        ]
    },
    {
        "id": "7fb53cf2.36d2e4",
        "type": "http request",
        "z": "77c7c30f.0fd61c",
        "name": "Fetch device configuration",
        "method": "GET",
        "ret": "txt",
        "paytoqs": false,
        "url": "${CSV_CONFIG}",
        "tls": "",
        "persist": false,
        "proxy": "1d91630e.c141dd",
        "authType": "",
        "x": 250,
        "y": 660,
        "wires": [
            [
                "dc6b5e85.150d7"
            ]
        ]
    },
    {
        "id": "dc6b5e85.150d7",
        "type": "csv",
        "z": "77c7c30f.0fd61c",
        "name": "Parse configuration",
        "sep": ",",
        "hdrin": true,
        "hdrout": "",
        "multi": "mult",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "x": 450,
        "y": 580,
        "wires": [
            [
                "ce618937.367108"
            ]
        ]
    },
    {
        "id": "ce618937.367108",
        "type": "function",
        "z": "77c7c30f.0fd61c",
        "name": "Set current config",
        "func": "let now = new Date().toISOString();\nlet configs = msg.payload.filter(x=>x.start_date<now && ((!x.end_date) || x.end_date>now))\nif(configs.length > 0){\n    let config = configs[0];\n    flow.set(\"config\",config);\n    msg.payload = config;\n    node.send(msg);\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 610,
        "y": 640,
        "wires": [
            [
                "33db4034.4acc7"
            ]
        ]
    },
    {
        "id": "33db4034.4acc7",
        "type": "function",
        "z": "77c7c30f.0fd61c",
        "name": "Has server address or port or device id changed",
        "func": "let process = global.get(\"process\");\nif( \n    (msg.payload.moxa_server && `${msg.payload.moxa_server}` !== `${process.env.DEVICE_SERVER}`)\n || \n     (msg.payload.moxa_port && `${msg.payload.moxa_port}` !== `${process.env.DEVICE_PORT}`)\n || \n     (msg.payload.id && `${msg.payload.id}` !== `${process.env.DEVICE_ID}`)\n )\n{\n    flow.set(\"DEVICE_SERVER\",msg.payload.moxa_server);\n    flow.set(\"DEVICE_PORT\",msg.payload.moxa_port);\n    flow.set(\"DEVICE_ID\",msg.payload.id);\n    send(msg);\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 900,
        "y": 580,
        "wires": [
            [
                "48558a01.27a2b4"
            ]
        ]
    },
    {
        "id": "48558a01.27a2b4",
        "type": "file in",
        "z": "77c7c30f.0fd61c",
        "name": "Read settings file",
        "filename": "/data/settings.js",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 1030,
        "y": 640,
        "wires": [
            [
                "32638033.ce34b"
            ]
        ]
    },
    {
        "id": "32638033.ce34b",
        "type": "function",
        "z": "77c7c30f.0fd61c",
        "name": "Update settings",
        "func": "let DEVICE_SERVER = flow.get(\"DEVICE_SERVER\");\nlet DEVICE_PORT = flow.get(\"DEVICE_PORT\");\nlet DEVICE_ID = flow.get(\"DEVICE_ID\");\nif(DEVICE_SERVER && DEVICE_PORT && DEVICE_ID){\n    let before = msg.payload;\n    let lines = msg.payload.split(\"\\n\");\n    const regex_server = /^\\s*process.env.DEVICE_SERVER\\s*=/\n    const regex_port= /^\\s*process.env.DEVICE_PORT\\s*=/\n    const regex_device_id= /^\\s*process.env.DEVICE_ID\\s*=/\n    lines = lines.map(line=>{\n        if(line.match(regex_server)){\n            return `process.env.DEVICE_SERVER = \"${DEVICE_SERVER}\";`;           \n        }else if(line.match(regex_port)){\n            return `process.env.DEVICE_PORT = \"${DEVICE_PORT}\";`;   \n        }else if(line.match(regex_device_id)){\n            return `process.env.DEVICE_ID = \"${DEVICE_ID}\";`;   \n        }else{\n            return line;\n        }\n    });\n    msg.payload = lines.join(\"\\n\");\n    if(before !== msg.payload){\n        send(msg);    \n    }\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1180,
        "y": 580,
        "wires": [
            [
                "e7d9a2d1.4ac39"
            ]
        ]
    },
    {
        "id": "e7d9a2d1.4ac39",
        "type": "file",
        "z": "77c7c30f.0fd61c",
        "name": "rewrite settings file",
        "filename": "/data/settings.js",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1310,
        "y": 640,
        "wires": [
            [
                "c89d53a6.6c49c"
            ]
        ]
    }
]